.Main {
    display: flex;
    overflow-x: hidden;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    color: var(--black-new)
}

.TitleContainer {
    overflow: hidden;
    align-self: flex-start;
}

.TitleContainer h1 {
    color: var(--black-new)
}

.Portal {
    height: fit-content;
    display: flex;

}

.Container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 2rem;
    padding-top: 4rem;
}

.TestCurb {
    width: 32rem;
    height: 32rem;
    border: 1px solid var(--black-new);
    background-color: white;
    box-shadow: 5px 5px 1px var(--black-new);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.ProjectTitleContainer {
    width: fit-content;
    padding: 0.25em;
    border-bottom: 1px solid var(--black-new);
}

.ProjectTitleContainer h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    width: fit-content;
    font-variation-settings: "wght" 600;
}

.ProjectTitleContainer h3 {
    font-size: 0.8rem;
}

.TechnologyContainer {
    align-items: center;
    gap: 1em;
    display: flex;
}


.TechnologyContainer div {
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    background-color: var(--accent-green);
    display: flex;
}

.Technology {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}


.TestCurb a {
    pointer-events: all;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--accent-green);
    color: var(--black-new);
    padding: 0.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-variation-settings: "wght" 500;
}

.TestCurb:last-of-type {
    margin-right: 3rem;
}

.Technologies {
    display: flex;
    gap: 1rem;
}

.ArrowContainer {
    font-size: 0.7rem;
}





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}