/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/Content.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Content_Main___W9nR {
    position: relative;
}

.Content_TitleContainer__t0zNr {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
    height: 23rem;
    z-index: 2;
    padding: 4em;
    width: 100%;
    margin-top: 4em;

}

.Content_Test__T_j67 {
    min-height: 100vh;
    width: 100vw;
}

.Content_Observer__rM59T {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid black;
    background-color: transparent;
}

.Content_Mobile__MNnny {
    font-size: 0.8rem;
    background-color: white;
    display: flex;
    padding: 1rem;
    transform: translateY(18rem)
}

.Content_Mobile__MNnny h1 {
    text-align: center;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/AboutSection/AboutContent/AboutContent.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AboutContent_Content__pzb0_ {
    position: absolute;
    top: 0;
    padding: 2rem;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    z-index: 1;

}

.AboutContent_Content__pzb0_ h1 {
    color: var(--black-new)
}

.AboutContent_FirstContentContainer__yHkZH {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.AboutContent_FirstContent__d3Y_q {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AboutContent_ScrollTrigger__2lib_ {
    margin-top: 6rem;
    height: 10em;
    width: 10em;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/AboutSection/AboutContent/Card/Card.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************/
.Card_CardContainer__k0IaY {
    height: -moz-fit-content;
    height: fit-content;
    width: 54rem;
    text-transform: uppercase;
    padding: 2rem;

}

.Card_Card__fHo4N {
    padding: 1rem 1rem 0rem 1rem;
    background-color: rgba(255, 255, 255, 1);

    color: var(--black-new);
    border: 1px solid var(--black-new);
    box-shadow: 5px 5px 1px var(--black-new);
}


.Card_OverflowContainer__6Cnk5 {
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
}

.Card_TitleContainer__IubP8 {
    background-color: var(--accent-green);
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
    width: 100%;
}



.Card_TitleContainer__IubP8 h1 span {
    padding-left: 15rem;
}

.Card_Arrow__Sboev {}

.Card_InfoContainer__3RSCe {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Card_InfoLine__Ihj39 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black-new);
    width: 100%;
    padding: 1rem 0;
}

.Card_InfoLine__Ihj39 h2 {
    font-variation-settings: "wght" 600;
}

.Card_InfoLine__Ihj39 h2,
.Card_InfoLine__Ihj39 p {

    overflow: hidden;
}

.Card_InfoCell__EXaZJ {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 4rem;
    padding: 1rem;
}

.Card_InfoCell__EXaZJ:nth-child(odd) {
    border-right: 1px solid var(--black-new);
}


.Card_OverflowContainer__6Cnk5:nth-of-type(3) .Card_InfoLine__Ihj39 {
    border: 1px solid transparent;
}

.Card_OverflowContainer__6Cnk5:nth-of-type(3) .Card_InfoCell__EXaZJ {
    border: 1px solid transparent;
    font-size: 0.8rem;
    text-align: center;
}

.Card_Fucker___mDxi {

    height: 100vh;
    width: 100vw;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/AboutSection/AboutContent/Image/Image.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************/
.Image_Container__tG_qZ {
    scale: 0.8;
}

.Image_ImageContainer__PBIkR {
    position: relative;
    height: 32rem;
    width: 32rem;
}

.Image_ImageContainer__PBIkR img {
    position: absolute;
    top: 0;
    left: 0;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/AboutSection/AboutSection.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************/
.AboutSection_Main__Uw7Dk {
    transform: translateY(50vh);
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    min-height: 150vh;
    /* border: 1px solid black; */
}



.AboutSection_Main__Uw7Dk h1 {
    color: var(--black-new)
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/TitleSection/StartSectionContent/UpperContainer.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************/
.UpperContainer_UpperContainerSection__e5T1r {
    position: relative;
    display: flex;
}

.UpperContainer_Content__W6YmQ {
    overflow: hidden;
}

.UpperContainer_Content__W6YmQ h1 {
    font-size: 4rem;
    pointer-events: all;
    overflow: hidden;
    z-index: 10;
    color: var(--black-new);
    text-shadow: 2px 2px 1px var(--white-new);
}

.UpperContainer_Arrow__PF0GD {
    transform: rotate(45deg);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem;
}

.UpperContainer_RightContainer__UWuxl {
    height: -moz-fit-content;
    height: fit-content;
    align-self: flex-end;
    overflow: hidden;
}

.UpperContainer_BlackBGContainer__t7WWG {
    background-color: var(--black-new);
    overflow: hidden;
    box-shadow: 10px 1px 1px black;
}

.UpperContainer_BlackBG__fsyVa {
    color: var(--white-new);
    font-size: 4rem;
    padding: 0em 0.2em;
    text-shadow: 2px 2px 1px black;
}

.UpperContainer_ArrowContainer__nCrjb {
    display: flex;
}

.UpperContainer_Content__W6YmQ:nth-of-type(2) {
    display: flex;
    align-items: center;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/TitleSection/StartSectionContent/LowerContainer.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LowerContainer_LowerContainer__tox08 {
    padding: 4rem 3rem 3rem 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 30vh 3rem 0 auto;
}

.LowerContainer_LowerContent__1bxTA {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 40rem;
}

.LowerContainer_LowerContent__1bxTA h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black-new);
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/SkillSection/WorkSection.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.WorkSection_Main__26j7_ {
    min-height: 200vh;
    width: 100%;
    padding: 3rem;
    padding-top: 12rem;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/SkillSection/Skills/HardSkillSection/SkillSection.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SkillSection_TestContainer__ffAT7 {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    height: 80vh;
    width: 100%;
    position: relative;

}

.SkillSection_Test__pPydL {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    pointer-events: all;
    overflow: hidden;
    position: absolute;
    color: var(--black-new);
    padding: 1rem;
    border: 1px solid var(--black-new);
    background-color: white;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    box-shadow: 5px 5px 1px var(--black-new);
}


.SkillSection_Test__pPydL:active {
    background-color: var(--accent-green);
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/SkillSection/Skills/SoftSkillSection/SoftSkillSection.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SoftSkillSection_Main___2yFx {
    margin-top: 100vh;
    padding: 4rem 0;
}

.SoftSkillSection_ContentContainer__xiIv8 {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 4rem;
    border: 1px solid var(--black-new);
    background-color: white;
    box-shadow: 5px 5px 1px var(--black-new);
}

.SoftSkillSection_Main___2yFx h1 {
    color: var(--black-new);
    overflow: hidden;
}

.SoftSkillSection_TextContainer__6K00s {
    overflow: hidden;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/WorkSection/WorkSection.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.WorkSection_Main__Bv3a2 {
    display: flex;
    overflow-x: hidden;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    color: var(--black-new)
}

.WorkSection_TitleContainer__pZUGk {
    overflow: hidden;
    align-self: flex-start;
}

.WorkSection_TitleContainer__pZUGk h1 {
    color: var(--black-new)
}

.WorkSection_Portal__544p9 {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;

}

.WorkSection_Container__I_Uc3 {
    display: flex;
    flex-direction: row;
    height: -moz-fit-content;
    height: fit-content;
    gap: 2rem;
    padding-top: 4rem;
}

.WorkSection_TestCurb__hgunc {
    width: 32rem;
    height: 32rem;
    border: 1px solid var(--black-new);
    background-color: white;
    box-shadow: 5px 5px 1px var(--black-new);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.WorkSection_ProjectTitleContainer__zGIn9 {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.25em;
    border-bottom: 1px solid var(--black-new);
}

.WorkSection_ProjectTitleContainer__zGIn9 h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    width: -moz-fit-content;
    width: fit-content;
    font-variation-settings: "wght" 600;
}

.WorkSection_ProjectTitleContainer__zGIn9 h3 {
    font-size: 0.8rem;
}

.WorkSection_TechnologyContainer__08pBC {
    align-items: center;
    gap: 1em;
    display: flex;
}


.WorkSection_TechnologyContainer__08pBC div {
    height: 0.4em;
    width: 0.4em;
    border-radius: 50%;
    background-color: var(--accent-green);
    display: flex;
}

.WorkSection_Technology__4NGYe {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}


.WorkSection_TestCurb__hgunc a {
    pointer-events: all;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--accent-green);
    color: var(--black-new);
    padding: 0.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-variation-settings: "wght" 500;
}

.WorkSection_TestCurb__hgunc:last-of-type {
    margin-right: 3rem;
}

.WorkSection_Technologies__hKHdR {
    display: flex;
    gap: 1rem;
}

.WorkSection_ArrowContainer__p3XAW {
    font-size: 0.7rem;
}





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/ContactSection/ContactSection.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.ContactSection_Main__TT_QN {
    min-height: 100vh;
    width: 100%;
    padding: 3rem;
    position: relative;

}

.ContactSection_Instructions__KspQs {
    height: 5rem;
    width: 15rem;
    position: absolute;
    right: -15rem;
    top: 5rem;
    pointer-events: none;
}

.ContactSection_Instructions__KspQs h3 {
    text-transform: uppercase;
    font-variation-settings: "wght" 500;
}

.ContactSection_ContentContainer__mMdJq {
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.ContactSection_EmailContainer__zTMDy {
    padding: 3rem;
    pointer-events: all;
}


.ContactSection_Email__GOPg4 {
    border: 1px solid var(--black-new);
    background-color: white;
    box-shadow: 5px 5px 1px var(--black-new);
    height: -moz-fit-content;
    height: fit-content;
    width: 30rem;
    padding: 1.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.ContactSection_UpperContent__9Ztor {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ContactSection_UpperContent__9Ztor h3 {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.25em;
    border-bottom: 1px solid var(--black-new);
    font-size: 1.3rem;
    text-transform: uppercase;
    width: fit-content;
    font-variation-settings: "wght" 600;
    background-color: var(--accent-green);
}

.ContactSection_LowerContent__78Mvf {
    gap: 1em;
    display: flex;
    flex-direction: column;

}

.ContactSection_Email__GOPg4 input {
    padding: 0.3rem 0.5rem;
    border: 1px solid black;
    width: 80%;
}


.ContactSection_Email__GOPg4 textarea {
    border: 1px solid black;
    height: 10rem;
    width: 100%;
    padding: 0.5rem;
}

.ContactSection_Email__GOPg4 textarea:focus,
.ContactSection_Email__GOPg4 input:focus {
    outline: 1px solid var(--accent-green)
}



.ContactSection_SVGContainer__pz2iK {
    width: 50%;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    /* pointer-events: all; */
}

.ContactSection_Instructions__KspQs {
    background-color: white;
    border: 1px solid var(--black-new);
    box-shadow: 4px 4px 1px var(--black-new);
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ContactSection_Instructions__KspQs h3 {
    text-align: center;
}


.ContactSection_EmailContainer__zTMDy:hover .ContactSection_Instructions__KspQs {
    visibility: visible;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/TitleSection/svgContents/SquareSvg.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************/
.SquareSvg_Container__FPYQd {
    position: absolute;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transform: translateY(80em);
    z-index: -1;
    top: 0;
    left: 0;
}

.SquareSvg_Container__FPYQd svg {
    height: 2rem;
    width: 2rem;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/TitleSection/svgContents/AnotherSquareSvg.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AnotherSquareSvg_Container__Ww_z4 {
    position: absolute;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transform: translateY(110vh);
    z-index: -1;
    top: 0;
    right: 0;
}

.AnotherSquareSvg_Container__Ww_z4 svg {
    height: 2rem;
    width: 2rem;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/content/TitleSection/svgContents/CubeSvg.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************/
.CubeSvg_Container__KNVeC {
    position: absolute;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
    top: 100vh;
    left: 50rem;
}

.CubeSvg_Container__KNVeC svg {
    height: 2rem;
    width: 2rem;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/three/Scene.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Scene_Canvas__VFAkj {
    position: fixed;
    top: 0;
    left: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  background: transparent;
  height: -moz-fit-content;
  height: fit-content;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}
